.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

@media screen and (max-width: 1200px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .products-container{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap: 2rem;
        justify-items: center;
        /* order:2; */
    } 
}
@media screen and (max-width: 930px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .products-container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 2rem;
        justify-items: center;
        /* order:2; */
    } 
}
@media screen and (max-width: 630px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .products-container{
        display: grid;
        grid-template-columns:none;
        justify-content: center;
        /* order: 2; */
    } 
}