.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

@media screen and (max-width: 992px) {
    .container{
        display: grid;
        grid-template-columns: none;
    }
    .products-container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 2rem;
        justify-items: center;
    } 
}
@media screen and (max-width: 688px) {
    .container{
        display: grid;
        grid-template-columns: none;
    }
    .products-container{
        display: grid;
        grid-template-columns:none;
        justify-content: center;
    } 
}